name: deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
      - name: install dependencies
        run: npm install
      - name: build project
        run: npm run build
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@v5/0.3
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}
          remote-user: ${{ secrets.SERVER_USER }}
          server-ip: ${{ secrets.SERVER_HOST }}
          remote-path: /home/www/project
          local-path: dist
          args: "-avz --delete"
